input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 18px;
    height: 18px;
    border-radius:50%;
    background-color: #fefefb;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: grab;
  }
  
  input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    pointer-events: all;
    width: 18px;
    height: 18px;
    background-color: #fefefb;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor:grab;  
  }
  
  input[type=range]::-webkit-slider-thumb:hover {
    background: #fefefb;
  }
  
  input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #B497BD, 0 0 9px #B497BD;
    -webkit-box-shadow: inset 0 0 3px #B497BD, 0 0 9px #B497BD;
  }
  
  input[type="range"] { 
    -webkit-appearance: none; 
    appearance: none;
    height: 2px;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
  } 