@tailwind base;
@tailwind components;
@tailwind utilities;


body {

  /* background-color: #45b5ff; */
  /* background-color:#d9c3a4; */
  /* background-image: url("../../public/assets/background.png"); */
  background: linear-gradient(to right bottom, #ffffff, #d1b188);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
/* background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
 background-size: contain; */
}
.routes {
  background-image: url("../../public/assets/image_homepage\ \(1\).png");

}

.bg-secondary{
  background: linear-gradient(to right bottom, #ffffffbb, #d1b1883f);

}
.text-shadow {
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

input[type="checkbox"],
input[type="radio"] {
  appearance: none; 
  width: 18px; 
  height: 18px;
  background-color: #fff; 
  border: 2px solid #752e38; 
  border-radius: 4px; 
  cursor: pointer;
  display: inline-block;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: #B76E79; 
  border-color: #752e38;
}

input[type="checkbox"]::after {
  content: "✔"; 
  font-size: 14px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

input[type="checkbox"]:checked::after {
  display: block;
}

input[type="radio"] {
  border-radius: 50%; 
}

input[type="radio"]:checked {
  background-color: #B76E79;
  border-color: #752e38;
}

input[type="radio"]::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #B76E79;
  border-radius: 50%;
  position: absolute;
  border:3px solid #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

input[type="radio"]:checked::after {
  display: block;
}


